In [4]:
# Tugas
ford_quote = 'wheter you think you can, or you think you can\'t--you\'re right'
ford_quote

"wheter you think you can, or you think you can't--you're right"

In [6]:
mylist = [1, 2, 3, 4, 5, 6, 7]
print (mylist[-1:-6])
print (mylist[-6:-1])

[]
[2, 3, 4, 5, 6]

In [7]:
mylist = [1, 2, 3, 4, 5, 6, 7]
print (mylist[-1::-1])

[7, 6, 5, 4, 3, 2, 1]

In [8]:
mylist = [1, 2, 3, 4, 5, 6, 7]
print (mylist[::-1])

[7, 6, 5, 4, 3, 2, 1]

In [1]:
# Belajar Integer
print (10)
print (type(10))

print (10+1)
print (type(10+1))

10
<class 'int'>
11
<class 'int'>

In [4]:
# Belajar Float
print (4.2)
print (type(4.2))
print (4.)
print (type(4.))
print (.2)
print (type(.2))
print (.4e7)
print (type(.4e7))
print (4.2e-4)
print (type(4.2e-4))

4.2
<class 'float'>
4.0
<class 'float'>
0.2
<class 'float'>
4000000.0
<class 'float'>
0.00042
<class 'float'>

In [12]:
# Belajar String
print ('Hacktiv8')
print (type('Hacktiv8'))
print ('hacktiv8')
print (type('hacktiv8'))
print ("Hacktiv8")
print (type("Hacktiv8"))
print ('''Hacktiv8''')
print (type('''Hacktiv8'''))
print ("""Hacktiv8""")
print (type("""Hacktiv8"""))

Hacktiv8
<class 'str'>
hacktiv8
<class 'str'>
Hacktiv8
<class 'str'>
Hacktiv8
<class 'str'>
Hacktiv8
<class 'str'>

In [17]:
print ("This string is contain a single quote (') character.")
print (type("This string is contain a single quote (') character."))
print ('This string is contain a doube quote (") character.')
print (type('This string is contain a doube quote (") character.'))

This string is contain a single quote (') character.
<class 'str'>
This string is contain a doube quote (") character.
<class 'str'>

In [7]:
# Belajar Boolean (Type, Context, dan Truthiness)
print (type(True))
print (type(False))
print ('Hacktiv8' == 'hacktiv8')
print (type('Hacktiv8' == 'hacktiv8'))

<class 'bool'>
<class 'bool'>
False
<class 'bool'>

In [11]:
# Belajar Variable Assignment
n=300
print (n+1)
print (type(n+1))
print (301 == n+1)
print (type(301 == n+1))

301
<class 'int'>
True
<class 'bool'>

In [17]:
a = b = 500
print (a+b)
print (type(a+b))
print (a-b)
print (type(a-b))
print (a*b)
print (type(a*b))
print (a/b)
print (type(a/b))
print (a%b)
print (type(a%b))
print(a+b == a+b)
print (type(a+b == a+b))
print (a+b == a-b)
print (type(a+b == a-b))

1000
<class 'int'>
0
<class 'int'>
250000
<class 'int'>
1.0
<class 'float'>
0
<class 'int'>
True
<class 'bool'>
False
<class 'bool'>

In [46]:
a = 5
b = 10
c = 15
print (a+b+c)
print (a+b*c)
print (a+b-c)
print (a+b == c)
print (type(a+b == c))
print (a*b-c)

30
155
0
True
<class 'bool'>
35

In [45]:
# Belajar Variabel
aku = 22
adalah = 5
seorang = 7
kapiten = 10
print (aku, adalah, seorang, kapiten)
print (type(aku))
print (type(adalah))
print (type(seorang))
print (type(kapiten))
print (type(aku, adalah, seorang, kapiten))

22 5 7 10
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

TypeError: type() takes 1 or 3 arguments

In [50]:
# Arithmetic Operators
d = 5
e = 2
print (d+e)
print (type(d+e))
print (d-e)
print (type(d-e))
print (d*e)
print (type(d*e))
print (d/e)
print (type(d/e))
print (d%e)
print (type(d%e))
print (d**e)
print (type(d**e))

7
<class 'int'>
3
<class 'int'>
10
<class 'int'>
2.5
<class 'float'>
1
<class 'int'>
25
<class 'int'>

In [57]:
# Comparison Operators
f = 20
g = 20
print (f == g)
print (type(f == g))
print (f != g)
print (f <= g)
print (f >= g)

True
<class 'bool'>
False
True
True

In [14]:
# Belajar Tuples
mytuple = ("foo", "bar", "baz", "quux")
print (mytuple, type(mytuple))
mytuple[::-1]

('foo', 'bar', 'baz', 'quux') <class 'tuple'>

('quux', 'baz', 'bar', 'foo')

In [15]:
# Belajar Packing
S1, S2, S3, S4 = ("foo", "bar", "baz", "quux")
print (S4)
print (S1, 2, S3, S4)

quux
foo 2 baz quux

In [16]:
T1, T2, T3, T4 = mytuple
print (T3, T4)

baz quux

In [18]:
T1, T2, *T3 = mytuple ##asterisk untuk masukkan sisa variabel ke variabel sebelumnya
print (T1, T2, T3, type(T1), type(T3))

foo bar ['baz', 'quux'] <class 'str'> <class 'list'>

In [21]:
*T1, T2 = mylist
print (T1, T2, type(T1), type(T2))
T1, *T2, T3, T4 = mylist
print (T1, T2, T3, T4, type(T1), type(T2))

[1, 2, 3, 4, 5, 6] 7 <class 'list'> <class 'int'>
1 [2, 3, 4, 5] 6 7 <class 'int'> <class 'list'>

In [28]:
# Belajar Dictionary
MLB_Team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twin',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners',
    'New York': ['Mets', 'Black']
}
print (MLB_Team, type(MLB_Team))
print (MLB_Team['Colorado'])
print (MLB_Team['Boston'])
print (MLB_Team['Minnesota'])
print (MLB_Team['Milwaukee'])
print (MLB_Team['Seattle'])
print (MLB_Team['New York'])

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twin', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'New York': ['Mets', 'Black']} <class 'dict'>
Rockies
Red Sox
Twin
Brewers
Mariners
['Mets', 'Black']

In [39]:
print (MLB_Team.keys())
print (list(MLB_Team.keys()))

dict_keys(['Colorado', 'Boston', 'Minnesota', 'Milwaukee', 'Seattle', 'New York'])
['Colorado', 'Boston', 'Minnesota', 'Milwaukee', 'Seattle', 'New York']

In [40]:
print (MLB_Team.values())
print (list(MLB_Team.values()))

dict_values(['Rockies', 'Red Sox', 'Twin', 'Brewers', 'Mariners', ['Mets', 'Black']])
['Rockies', 'Red Sox', 'Twin', 'Brewers', 'Mariners', ['Mets', 'Black']]

In [41]:
print (MLB_Team.items())
print (list(MLB_Team.items()))

dict_items([('Colorado', 'Rockies'), ('Boston', 'Red Sox'), ('Minnesota', 'Twin'), ('Milwaukee', 'Brewers'), ('Seattle', 'Mariners'), ('New York', ['Mets', 'Black'])])
[('Colorado', 'Rockies'), ('Boston', 'Red Sox'), ('Minnesota', 'Twin'), ('Milwaukee', 'Brewers'), ('Seattle', 'Mariners'), ('New York', ['Mets', 'Black'])]